<!DOCTYPE html>
<html lang="en">

<head>
    <title>Attendance Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'attendance/css/attendance.css' %}">
</head>

<body>
<main class="attendance-container">

    {% if object %}
        <h1>Update Attendance</h1>
    {% else %}
        <h1>Add Attendance</h1>
    {% endif %}


    <form class="attendance-form" method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Save Attendance
        </button>

    </form>

    <a class="back-link" href="{% url 'attendance_list' %}">
        Back to Attendance
    </a>

</main>
</body>

</html>
